table {
	width: 100%;
}

body {
	font-family: arial;
}

table, th, td {
	padding: 10px;
}

td, h2 {
	text-align: center;
}

tr:hover {
	background-color: RGB(240, 240, 240);
}

.subtitle {
	text-align: right;
}
