table {
	width: 100%;
}

body {
	font-family: arial;
}

table, th, td {
	padding: 10px;
}

th {
	background-color: #C0C0C0;
	font-size: 15pt;
}

td, h2 {
	text-align: center;
}

tr:hover {
	background-color: RGB(240, 240, 240);
}
